.itemBenefitContainer {
    display: flex;
    align-items: center;
    gap: 1em;

    img {
        width: 0.75rem;
        height: 0.75rem;
    }


}

@media (max-width: 500px) {
    .itemBenefitContainer {
        justify-content: flex-start;
        width: 100%;

        img {
            width: 0.75rem;
            height:  0.75rem;
        }
    }
}