@import "../../styles/variables";

.videoStoryContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 1em;
     min-height: 80vh;

     .wrapVideoStory{
  /*      background-color: $blue; */
        display: flex;
        flex-direction: row;
        padding: 5rem 2.5rem 5rem 2.5rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 20px;
        height: 100%;

     }

     .videoStoryTopText {
        text-align: left;
        width: 50%;
        font-family: textaHeavy;
        font-weight: 500;

        h2 {
            color: $blue;
            padding-bottom: 2rem;
        }
         p {
             color: $dark;
             line-height: 100%;
             font-family: TextaAltaMedium;
         }
         

     }

     iframe{
        border-radius: 20px;

     }

 
 }


 @media (max-width: 768px) {


 }



 @media (max-width: 768px) {



     .videoStoryContainer {



        .wrapVideoStory{
            flex-direction: column;    
            padding: 2rem;
            gap: 1rem;

         }

         .videoStoryTopText {
            width: 100%;
            text-align: center;


             p {
                 font-size: 1.25rem;
                 padding-bottom: 1em;
             }
         }

         .videoContainer {
            position: relative;
            width: 100%;
            align-self: center;

            .wrapIframe{
                position: relative;
                padding-bottom: 0px;
                overflow: hidden;
                align-self: center;
                display: flex;
            }
    
            iframe {
                width: 100%;
            }
        }         

         .videoStoryCardsMainContainer {
             display: flex;
             flex-direction: column;
             align-items: center;
         }
     }



 }