@import "../../styles/variables";

.videoStoryContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 1em;
     min-height: 100vh;

     .wrapVideoStory{
        background-color: $blue;
        display: flex;
        flex-direction: row;
        padding: 4rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 20px;
        min-width: 100%;
     }

     .videoStoryTopText {
        text-align: left;
        width: 50%;
        font-family: textaHeavy;
        font-weight: 500;

        h2 {
            font-size: 4.35rem;
            color: $white;
            line-height: 100%;
            padding-bottom: 1rem;
        }
         p {
             font-size: 1.25rem;
             color: $white;
             line-height: 100%;
             font-family: TextaAltaMedium;
         }
         

     }

     .videoContainer {
        position: relative;
        width: 80%;
        height: 100%;
        align-self: center;

        .wrapIframe{
            position: relative;
            width: 100%;
            height: 550px;
            padding-bottom: 50%;

            overflow: hidden;
            align-self: center;
            display: flex;
        }

        iframe {
            left: 0px;
            top: 0px;
            position: absolute;
            width: 100%;
            height: 100%;
            align-self: center;
        }
    }

     .videoStoryCardsMainContainer {
         min-width: 100%;
         width: fit-content;
         display: flex;
         justify-content: center;
         gap: 2em;
         align-items: stretch;
     }
 }




 @media (max-width: 768px) {



     .videoStoryContainer {

        padding-inline: 3%;



        .wrapVideoStory{
            flex-direction: column;    
            padding: 2rem;
            gap: 1rem;

         }

         .videoStoryTopText {
            width: 100%;
            text-align: center;

             h2 {
                 font-size: 1.875rem;
                 line-height: 1em;
             }

             p {
                 font-size: 1.25rem;
                 padding-bottom: 1em;
             }
         }

         .videoContainer {
            position: relative;
            width: 100%;
            align-self: center;

            .wrapIframe{
                position: relative;
                width: 100%;
                height: 350px;
                padding-bottom: 0px;
                overflow: hidden;
                align-self: center;
                display: flex;
            }
    
            iframe {
                width: 100%;
                height: 350px;
            }
        }         

         .videoStoryCardsMainContainer {
             min-width: 100%;
             display: flex;
             flex-direction: column;
             align-items: center;
         }
     }



 }