@import "../../styles/variables";

.videoStoryContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 1em;
     min-height: 80vh;

     .wrapVideoStory{
        background-color: $blue; 
        display: flex;
        flex-direction: row;
        padding: 5rem 2.5rem 5rem 2.5rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 20px;
        width: 90%;
     }

     .videoStoryTopText {
        text-align: left;
        width: 50%;
        font-family: textaHeavy;
        font-weight: 500;

        h2 {
            color: $white;
            padding-bottom: 2rem;
        }
         p {
             color: $white;
             line-height: 100%;
             font-family: TextaAltaMedium;
         }
         

     }

     iframe{
        border-radius: 20px;
        width: 75%;
        height: 480px;
    

     }

 
 }


 @media (max-width: 1530px) {

    .videoStoryContainer {

        iframe{
            border-radius: 20px;
            width: 85%;
            height: 420px;
        
    
         }
    }


 }


 @media (max-width: 1280px) {

    .videoStoryContainer {

        iframe{
            border-radius: 20px;
            width: 85%;
            height: 325px;
        
         }
    }
 }


 @media (max-width: 1025px) {

    .videoStoryContainer {

        iframe{
            border-radius: 20px;
            width: 85%;
            height: 250px;
        
         }
    }
 } 



 @media (max-width: 768px) {



     .videoStoryContainer {



        .wrapVideoStory{
            flex-direction: column;    
            padding: 2rem;
            gap: 1rem;
            background-color: $white;

         }

         .videoStoryTopText {
            width: 100%;
            text-align: center;

            h2{
                color: $blue;
            }


             p {
                 font-size: 1.25rem;
                 padding-bottom: 1em;
                 color: $dark;
             }
         }

         .videoContainer {
            position: relative;
            width: 100%;
            align-self: center;

            .wrapIframe{
                position: relative;
                padding-bottom: 0px;
                overflow: hidden;
                align-self: center;
                display: flex;
            }
    

        }         

        iframe{
            border-radius: 20px;
            width: 100%;
            height: 370px;
        
    
         }        

         .videoStoryCardsMainContainer {
             display: flex;
             flex-direction: column;
             align-items: center;
         }
     }



 }