
.PaymentStepsContainer{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 7rem;

  .wrapCardsPaymentSteps{
    width: 90%; max-width: 90%;
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 4rem;
    flex-direction: row;
    justify-content: center;
   align-self: center;
   
  }
  
  h2{
    font-family: textaBold;
    width: 100%;
    font-weight: 400;
    padding-top: 4rem;
    padding-bottom: 4rem;

    b {
      font-family: textaHeavy;
   }

    }

  p{
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .cardWrap{

        width: 33%;
        flex-shrink: 1;
        flex-grow: 1;    
  }


.cards{
  width: 90%; max-width: 90%;

  position: absolute;
  overflow: hidden;

  display: flex;
  flex-direction: column;


}

.pTop{
  padding-top: 2rem;
}

.mobWrap{
  display: none;
}
.deskWrap{
  display: flex;
}


}






@media (max-width: 768px) {
  .PaymentStepsContainer{


    .cardWrap{

      width: 100%;
      flex-shrink: 1;
      flex-grow: 1;   
      position: absolute; 

}


    .wrapSlider{
      width: 100%;
    }

    .mobWrap{
      display: block;
    }

    .deskWrap{
      display: none;
    }

    .wrapCardsPaymentSteps{
      flex-direction: column;
      height: 700px;
    }
    
  
    h2{
      font-size: 1.875rem;
      padding-bottom: 2rem;

      }
  
    p{
      font-size: 1.25rem;
      padding-top: 0rem;
      padding-bottom: 2rem;
    }
  }
}