
.PaymentStepsContainer{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapCardsPaymentSteps{
    display: flex;
    gap: 1rem;
    height: 0;
  }
  
  h2{
    font-family: textaBold;
    width: 100%;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 400;
    padding-top: 4rem;

    b {
      font-family: textaHeavy;
   }

    }

  p{
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }



.cards{
  width: 90%; max-width: 90%;
  max-height: 600px;
    height: 600px;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;


}

.pTop{
  padding-top: 2rem;
}

.mobWrap{
  display: none;
}
.deskWrap{
  display: flex;
}


}






@media (max-width: 768px) {
  .PaymentStepsContainer{

    .wrapSlider{
      width: 100%;
    }

    .mobWrap{
      display: block;
    }

    .deskWrap{
      display: none;
    }

    .wrapCardsPaymentSteps{
      flex-direction: column;
    }
    
  
    h2{
      font-size: 1.875rem;
      padding-bottom: 2rem;

      }
  
    p{
      font-size: 1.25rem;
      padding-top: 0rem;
      padding-bottom: 2rem;
    }
  }
}